[Unit]
Description=uwu-admin Matrix server admin panel
After=network-online.target
Wants=network-online.target

[Container]
Image=localhost/uwu-admin:latest
PublishPort=8080:8080
Volume=uwu-data.volume:/data
# Generate with: openssl rand -hex 32
Environment=JWT_SECRET=
Environment=ENCRYPTION_KEY=

[Install]
WantedBy=default.target
